 <!-- Site footer -->
 <footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">Quiz App :<i>LHL Midterm Group Project </i> </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="/category/science">Science & Tech</a></li>
          <li><a href="/category/pop-culture">Pop Culture</a></li>
          <li><a href="/category/sports">Sports</a></li>
          <li><a href="/category/geography">Geography</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="/create-quiz">Create Quiz</a></li>
          <li><a href="/take-quiz">Take Quiz</a></li>
          <li><a href="/results">Results</a></li>
        </ul>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
     <a href="https://github.com/sanjoy-kumar/Quiz-App">Josue, Shivani & Sanjoy</a>
        </p>
      </div>


    </div>
  </div>
</footer>
