<nav>
  <div class="nav-container">
    <a id="quiz-app" href="/">
    <span id="logo">Quiz App</span></a>
  </div>

  <div class="navbar">
    <div class="logged-user">
    <% if (user) { %>
      <p style="margin: 0.5em;">Logged in as <%= user.name %>! </p>
      <% } %>
    </div>

    <a id="create-link" href="/create-quiz">
  Create a New Quiz</a>
  <i id="qmark" class="fas fa-question-circle"></i>

</div>
</nav>
