<nav>
  <div class="nav-container">
    <span id="quiz-app">Quiz App</span>
  </div>
  <div class="navbar">
    <div class="logged-user">
    <% if (user) { %>
      <p style="margin: 0.5em;">Logged in as <%= user.name %>! </p>
      <% } %>
    </div>
  <div class="nav-container" id="create-quiz">
    <a href="/create-quiz">Create a New Quiz</a>
    <i class="fas fa-question-circle"></i>
  </div>
</div>
</nav>
