<!DOCTYPE html>
<html lang="en">

<head>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
  <title>Quiz App</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <!-- Top nav bar (fixed) -->
  <nav>
    <div class="nav-container">
      <span id="quiz-app">Quiz App</span>
    </div>
    <div class="nav-container" id="create-quiz">
      <a href="/create-quiz">Create a New Quiz</a>
      <i class="bi bi-question-circle-fill"></i>

    </div>
  </nav>
  <header class="container">
    <div class="headerPush"> </div>
    <div class="categories">
      <p>Filter By:</p> <p> Science & Tech</p> <p> Pop Culture</p> <p> History</p> <p> Geography</p>
    </div>
  </header>
  <main>
    <div class="public-quizzes">
      <div class="feature">
        <img src="*" alt="feature-quiz">
        <div class="snapshot">
          <p>Your Latest Quiz:</p>
          <p>[Quiz Results]</p>
          <br>
          <a href="/results">See All Results</a>
        </div>
      </div>
      <div class="all-quizzes">
        <img src="*" alt="quiz1">
        <img src="*" alt="quiz2">
        <img src="*" alt="quiz3">
        <img src="*" alt="quiz4">
      </div>
    </div>
  </main>

  <footer>
    Footer information
  </footer>
</body>

</html>
