<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <!-- <link rel="stylesheet" href="/styles/main.css" type="text/css" /> -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/result.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body class="result-body">
  <div class="result-container">
    <!-- <h1>Result Page</h1> -->

      <h2 class="quiz-title" align="center">Quiz Title</h2>

    <h4>Your Score :</h4>
    <h2 class="score" align="center">Score</h2>

    <form method="post" action="/:quiz_id">
      <div class="buttons">
        <button type="button" class="btn btn-info">Share ! </button>&nbsp;&nbsp;
        <button type="submit" class="btn btn-warning">Try Again</button>
      </div>

    </form>
  </div>
  <br><br>
  <div class="details">

      <span class="question"> Question: </span>
      <span class="answer"> Your Answer:</span>

  </div>

</body>

</html>
