@import "./scss/fontawesome.scss";
@import "./scss/solid.scss";
// @import "./scss/regular.scss";
// @import "./scss/_icons.scss";


body {
  @extend %fa-icon;
  @extend .fas;
background: #D3DEDC;
font-family: 'Mochiy Pop P One', sans-serif;
font-family: 'Roboto', sans-serif;
}

main {
  width: 90%;
  margin: auto;
  text-align: center;
}

.filter{
  font: bold;
  color: rgb(71, 71, 71)
}
.categories {
  display:flex;
  justify-content: space-around;
  outline: 7px solid #92A9BD;
  color: grey;
  font-size: 20px;

}

.public-quizzes {
  margin-top: 3em;
  outline: 7px solid #92A9BD;
  display:flex;
}

.feature {
  display:flex;
  flex-direction: column;
}

.bi-question-circle-fill {
  background-image: url('/images/question.svg');
}

.main-test {
  height: 490px;
  width: 600px;
  margin-left: 1.5em;
  margin-top: 2em;
  margin-right: 1.5em;
  border-radius: 25px
}

.quizzes {
  height: 320px;
  width: 320px;
  border-radius: 25%;
  margin-top: 2em;
  margin-right: 1.5em;
  margin-bottom: 2em;
}

 .snapshot {
   font-size: 30px;
   color: #69879b;
 }

 .result {
   font-family: 'Mochiy Pop P One', sans-serif;
   font-size: 45px;
   color: #3e6e8f;
 }

 footer {
   display: flex;
   padding: 1em;
 }

