nav {
  display: flex;
  z-index: 3;
  color: #FFEFEF;
  background-color: #7C99AC;
  font-size: 22px;
  font-family: 'Mochiy Pop P One', sans-serif;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  padding: 1.5em;
  box-sizing: border-box;
  height: 120px;
  margin: 0px;
  border-width: 0px;
}
.navbar {
  display: flex;
  flex-direction: column;
}
#quiz-app {
  font-size: 40px;
  // cursor: pointer;
}
.nav-container {
  display: flex;
  // flex-direction: column;
}
#create-quiz {
  display: flex;
  align-items: flex-end;
  color: #FFEFEF;
}

// .click-create-quiz:hover {
//   top: 10px;
//   transform: scale(1.1);
//  }

// #click-create-quiz {
// cursor: pointer;
// }
// #click-create-quiz:hover {
//   top: 10px;
// }
