@import "./scss/fontawesome.scss";
@import "./scss/solid.scss";
// @import "./scss/regular.scss";
// @import "./scss/_icons.scss";

nav {
  @extend %fa-icon;
  @extend .fas;
  display: flex;
  z-index: 3;
  color: #FFEFEF;
  background-color: #7C99AC;
  font-size: 22px;
  font-family: 'Mochiy Pop P One', sans-serif;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  // padding: 1.5em;
  box-sizing: border-box;
  height: 122px;
  margin: 0px;
  border-width: 0px;
}

#qmark{
  display:flex;
  font-size: 58px;
  outline: none;
  text-decoration: none;
}
#qmark:visited {
  color: #FFEFEF;
  }
#qmark:hover {
    // background: red;
    color: #d6b0b0;
  }
.navbar {
  display: flex;
  flex-direction: column;
  padding: 0em;
  align-items: center;
  padding-right: 1.5em;
  cursor: pointer;
}
.nav-container {
  display: flex;
  // flex-direction: column;
}

#create-quiz {
  display: flex;
  align-items: flex-end;
  color: #FFEFEF;
}

#create-link {
  outline: none;
  text-decoration: none;
  padding-bottom: 8px;
}

#create-link:visited {
  color: #FFEFEF;
}
#create-link:hover {
  color: #d6b0b0;
}
.logged-user{
  font-size: 16px;;
}

#quiz-app{
  font-size: 40px;
  padding-top: 1em;
  padding-left: 1em;
  outline: none;
  text-decoration: none;
}

#quiz-app:visited {
  color: #FFEFEF;
}

#quiz-app:hover {
  transform: scale(1.1);
}

// #quiz-app:active {
//   background: red;
//   color: white;
// }
